html,
body {
    background-color: #f0f4f8;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}